<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.UserMapper">
    <!--
        <resultMap id="User" type="User">
            <result column="name" property="name" jdbcType="VARCHAR"/>
            <result column="age" property="age" jdbcType="VARCHAR"/>
            <result column="gender" property="gender" javaType="VARCHAR"/>
        </resultMap>
    -->

    <sql id="Base_Column_List">
        uname as name,
        age as age,
        gender as gender
    </sql>

    <select id="findUser" resultType="User">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_user
        WHERE id = #{id}
    </select>

</mapper>